.WelcomePage{
    width: 100vw;
    height: 100vh;
    background-image:url(../Images/welcome-page-background.jpg);
    background-position: center;
    background-size: cover;
    background-blend-mode: hard-light;
}
.WelcomePageHeading{
    font-family: "Roboto";
    width:30vw;
    height:30vh;
    margin:auto;
    position: absolute;
    text-align: center;
    top:0px; bottom:0px; right:0px; left:0px;
    color:#f5f6fa;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.WelcomePageHeading >h1{
    font-family: 'Staatliches', cursive;
    display:block;
    font-size:4vw;
}
.WelcomePageHeading >h2{
    display:block;
    font-size:1.5vw;
}
.WelcomePageHeading >h3{
    display:block;
    font-size:1vw;
}
.WelcomePageSignup{
    font-family: 'Staatliches', cursive;
    font-size:1.5vw;
    color:#f5f6fa;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    border:none;
    padding: 5px 20px;
    border-radius:10px;
    border:1px solid #222f3e;
}
.WelcomePageSignin:hover{
    cursor: pointer;
    text-decoration: underline;
}
.WelcomePageSignin > a {
    color:inherit;
}